# Data Manipulation & Analysis
pandas>=3.0.1
numpy>=2.4.6

# Machine Learning
scikit-learn>=1.9.0
joblib>=1.5.3

# Configuration & Logging
pyyaml>=6.0.3
loguru>=0.7.3

# Visualization (Optional but helpful for notebooks)
matplotlib>=3.10.9
seaborn>=0.13.2

# Testing
pytest>=9.1.1
